<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TEST WALLAPOP</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="build/css/styles.min.css" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed menubar-pin " data-ng-app="wallapopApp">
		<!-- BEGIN HEADER-->
		<header id="header" data-ng-controller="HeaderController">
			<div class="headerbar">
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="/">
									<span class="text-lg text-bold text-primary">TEST-WALLAPOP</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
                <div class="headerbar-right">
                    <ul class="header-nav header-nav-options">
						<li class="header-nav-brand">
							<div class="btn-group">
                                <button type="button" class="btn ink-reaction btn-flat" data-toggle="modal" data-target="#favouriteItemsModal" data-ng-click="getFavouriteItems()">
                                    <i class="fa fa-heart"></i>
                                    Favourite Items
                                </button>
                                <button type="button" class="btn ink-reaction btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Order By
                                    <i class="fa fa-caret-down text-default-light"></i>
                                </button>
                                <ul class="dropdown-menu animation-expand" role="menu">
                                    <li><a data-ng-click="setOrder('id')">Default</a></li>
                                    <li><a data-ng-click="setOrder('title')">Title</a></li>
                                    <li><a data-ng-click="setOrder('description')">Description</a></li>
                                    <li><a data-ng-click="setOrder('price')">Price</a></li>
                                    <li><a data-ng-click="setOrder('email ')">Email</a></li>
                                </ul>
                            </div>
						</li>
					</ul>
                </div>
            </div>
            <!-- FAVOURITE ITEMS MODAL -->
            <div class="modal fade hiden" id="favouriteItemsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="formModalLabel">Favourite Items</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12" data-ng-hide="favouriteItems.length == 0">
                                     <div class="form-group floating-label">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-search fa-lg"></span></span>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" placeholder="Search" data-ng-model="favouriteSearch.title" id="username10">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-6" ng-repeat="item in items = (favouriteItems | filter:favouriteSearch)">
                                    <displayed-item data-item="item"></displayed-item>
                                </div>
                                <div class="col-lg-12 text-center text-default-light" data-ng-show="!items.length">
                                    <p class="text-xxxxl">
                                        <i class="fa fa-frown-o"></i>
                                    </p>
                                    <h3>No items found</h3>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">
                                Done
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FAVOURITE ITEMS MODAL -->
		</header>
		<!-- END HEADER-->
        
		<!-- BEGIN BASE-->
		<div id="base no-padding">
			<div id="content" data-ng-view></div>
		</div>
		<!-- END BASE -->
        
		<script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/masonry.pkgd.min.js"></script>
        <script src="assets/js/angular/angular.min.js"></script>
        <script src="assets/js/angular/angular-route.min.js"></script>
        <script src="assets/js/angular/angular-masonry.js"></script>
        <script src="assets/js/angular/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/loadData.js"></script>
	
        <script src="app/app.module.js"></script>
        <script src="app/app.routes.js"></script>
        <script src="app/controllers/ItemsController.js"></script>
        <script src="app/controllers/HeaderController.js"></script>
        <script src="app/factories/ItemFactory.js"></script>
        <script src="app/services/ItemService.js"></script>
        <script src="app/directives/DisplayedItemDirective.js"></script>
	</body>
</html>
