<div class="card item no-padding">
    <img src="{{item.image}}"/>
    <div class="row">
        <div class="col-xs-12 height-0">
            <button type="button" class="btn ink-reaction btn-floating-action btn-sm item-like pull-right" data-ng-class="{'btn-default': item.favourite == false, 'btn-danger': item.favourite == true}" data-ng-click="markAsFavourite(item)">
                <i class="fa fa-heart"></i>
            </button>
        </div>
    </div>
    <div class="card-head card-head-sm">
        <header class="">{{item.title}}</header>
    </div>
    <div class="card-body p-t-0 p-b-14">
        <h3 class="text-primary m-t-0">{{item.price}}€</h3>
        <p>{{item.description}}</p>
        <hr class="ruler-lg"/>
        <div class="text-center">
            <i class="fa fa-envelope text-default-light"></i><br>
            <a class="text-default-light" href="mailto:{{item.email}}">{{item.email}}</a>
        </div>
    </div>
</div>