.item-like{
    position: relative;
    bottom: 18px;
    right: 10px;
}

.padding-item{
    padding: 1px;
}

.m-t-0{
    margin-top: 0;
}

.p-b-14{
    padding-bottom: 14px;
}

.height-0{
    height: 0;
}

.headerbar-right .btn-group,
.headerbar-right .form-group{
    padding-top: 14px;
}

.full-width{
    width: 100%;
}

#favouriteItemsModal displayed-item .card-body{
    display: none;
}

.col-centered{
    float: none !important;
    margin: 0 auto;
}

displayed-item img{
    width: 100%;
}

@media (max-width: 767px){
    
    .section-body .masonry-brick{
        width:100%;
        margin: 5px;
    }
    
    .header-fixed .headerbar-right {
        position: fixed;
    }
}

@media (min-width: 768px){
    
    .section-body .masonry-brick{
        width:48%;
        margin: 5px;
    }
    
    .show-xs{
        display: none !important;
    }
}


@media (min-width: 970px) {
    .section-body .masonry-brick{
        width:32% !important;
        margin: 5px !important;
    }
    
    .show-xs{
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .section-body .masonry-brick{
        width:19% !important;
        margin: 5px !important;
    }
    
    #content .col-lg-2{
        width: 20%;
    }
     .show-xs{
        display: none !important;
    }
}