<section>
    <div class="section-header">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 col-centered">
                <div class="form-group floating-label no-margin">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-search fa-lg"></span></span>
                        <div class="input-group-content">
                            <input type="text" class="form-control" placeholder="Start Searching Items" data-ng-model="searchKey" data-ng-change="searchKeyChanges()">
                            <label>&nbsp;</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div masonry>
                    <div class="masonry-brick" data-ng-repeat="item in items | orderBy:orderByField:reverse">
                        <displayed-item item="item"></displayed-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="items.length > 0">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn ink-reaction btn-flat btn-primary" data-ng-click="loadMoreItemsClickHandler()">
                    Load More Items
                </button>
            </div>
        </div>
    </div>
</section>
